

body {
    font-family: "Arial", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}


$font-headings: "Arial", sans-serif;



@mixin font($size,$weight:'r',$lineheight:1.4) {
    @if $weight == 'l' {
        $weight: 300;
    }
    @if $weight == 'r' {
        $weight: 400;
    }
    @if $weight == 'm' {
        $weight: 500;
    }
    @if $weight == 's' {
        $weight: 600;
    }
    @if $weight == 'b' {
        $weight: 700;
    }
    @if $weight == 'e' {
        $weight: 800;
    }
    @if $weight == 'bl' {
        $weight: 900;
    }
    $size: $size * 1px;
    font-size: $size;
    font-size: ($size / 16px) * 1rem;
    font-weight: $weight;
    line-height:$lineheight;
}
