$black :#000;
$white: #fff;

$body: $black;

$dark-blue: #0C1C36;
$lightgrey: #F8F9FA;


$highlight: #EDB12E;

$bluetint:#CBE3FA;
$bluetint2:#EEF7FF;

$sand: #FDF5E5;


$tag-text: $highlight;

$padding-sm: 60px;
$padding: 120px;
$padding-md: $padding;
$padding-lg: 180px;

$padding-mobile: 60px;

$radius: 10px;
$md-radius: 12px;
$sm-radius: 8px;


$box-shadow: 0px 0px 70px 0px rgba(115, 115, 106, 0.10);





