.site-header {
    margin-bottom:1rem;
    .navbar-brand {
        color:white;
        .site-logo {
            width:300px;
            height:90px;
            svg {
                width:auto;
                height:auto;
                max-height:100%;
            }
        }
    }
    .navbar-nav {
        gap:4rem;
        .nav-link {
            color:white;
            display:flex;
            flex-direction:column;
            &:after {
                width: 10px;
            }
        }
    }
    .nav-link-tereo, .dropdown-item .nav-link-tereo {
        display:block;
        font-size:0.9rem;
        font-weight:normal;
        opacity:0.75;
    }
    .dropdown-item {
        display:flex;
        flex-direction:column;
    }
}
