.purposepage {
    .content-row {
        grid-template-columns:3fr 2fr;
    }

    .content-column {
        grid-column:span 1;
    }

    .details-panel__body {
        .p-highlight {
            width:180px;
            height:180px;
            text-align:center;
            display:flex;
            flex-direction: column;
            font-size:2.4rem;
            border:8px solid $brand-pink;
            color:$brand-pink;

        }
    }
}
